<nav role="main">
  <div class="rotate">
    <a href="/" class="title">NICK LOMBARDI</a>&nbsp; &nbsp; &nbsp;
    <a href="/" class="title-link">portfolio</a>&nbsp;
    <a href="/" class="title-link">bio</a>&nbsp;
    <a href="/" class="title-link">contact</a>&nbsp;
  </div>
</nav>